body {
	margin: 20px;
	padding: 0px;
	align-content: center;
	text-align: center;
}

.info {
	margin: 15px;
	border-style: none;
	border-radius: 10px;
	padding: 10px;
	height: 250px;
	width: 250px;
	border: 1px solid #ccc;
	display: inline-block;
    transition: all .3s ease-in-out; 
}

.info:hover{
	height: 255px;
	width: 255px;
	box-shadow: 0 0 2em #ccc;
    -webkit-transition-delay: 0.2s;
/*    transform: rotateY(180deg);*/
    transform: scale(1.1);
}

.img{
	background-image: url();
	background-repeat: no-repeat;
	background-size:contain;
	background-position:center;
	height: 250px;
	width: auto;
}
